@{
}
@model GIRA_KNX_Helper.Models.VM.GAVM

<form asp-controller="GAEdit" asp-action="Index">
    <div>
        <label>Group Address </label>
        <input asp-for="Address" type="text" name="GA" placeholder="_/_/_"/>
        <input type="submit" name="Add" value="Add GA"/>
    </div>
</form><br />

       <div id="GATable">
           @if (ViewBag.GAList.Count != 0)
           {
               <table border="1">
                   <thead>
                       <tr>
                           <th>№</th>
                           <th>Group Address</th>
                           <th>Description</th>
                           <th>Edit</th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach(var ga in ViewBag.GAList)
                {
                    <tr>
                        <td>@ga.Id</td><td>@ga.Address</td><td>@ga.Description</td><td><a asp-controller="GAEdit" asp-action="Remove" asp-route-id="@ga.Id">Remove</a></td>
                    </tr>
                }
                   </tbody>
               </table>
           }
            else
            {
                <h4>Group Address List is empty. Add new Group Address.</h4>
            }

       </div>
